.cart > ul li a,
.cart > .navbar ul li a,
.cart > .navbar ul li a,
.cart > .navbar ul,
.cart > ul li,
.cart > .navbar .brand a,
.cart .navbar .btn,
.cart .usermenu {
  color: #000;
  text-shadow: none;
}


#ShoppingCart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5rem;
    width: 100%;
    height: 100%;
}


.shoppingCart-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:3rem;
    justify-content: flex-start;
    width: 100%;
}

.shoppingCart-container .shopping-list
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap:1rem;
}

.shoppingCart-container .shopping-payment
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap:1rem;

    width: 100%;
}


.shopping-items{
    height:auto;
    overflow-y: scroll;
    margin-bottom: 2rem;
    height: 620px;
}


.shopping-items::-webkit-scrollbar {
    -webkit-appearance: none;
}

.shopping-items::-webkit-scrollbar:vertical {
    width:5px;
}


.shopping-items::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 1px solid #f1f2f3;
    
}

.shopping-items::-webkit-scrollbar-track {
    border-radius: 10px;  
    cursor: pointer;
}



  .invoice-ticket{
    background-color: #EEEEEE;
    padding: 1rem;
    width: 25%;
  }
  
  .invoice-ticket table {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
  }
  
  .invoice-ticket table tr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  
  .invoice-ticket table td, table th {
    border: 1px solid transparent;
    padding: 4px;
    text-align: center;
    color: #616161;
  }
  
  .invoice-ticket table tr:nth-child(even){background-color: #f2f2f2;}
  
  .invoice-ticket table tr:hover {background-color: #ddd;}
  
  .invoice-ticket line{
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 0.01rem solid #797979;
    margin-bottom: 0.5rem;
  }
  
  .invoice-ticket table td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: transparent;
    text-align: center;
    color: #616161;
  }

  .shopping-payment form{
    background-color: #EEEEEE;
    padding: 1rem;
    width: 100%;
  }