#Warehouse {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  top: 0;
  bottom: 0;
  height: 87.1vh;
  width: 100%;
  padding: 0;
  left: 0;
}




.warehouse > .navbar {
  background-color: #fff;
}

.warehouse >  ul li a,
.warehouse > .navbar ul li a,
.warehouse > .navbar ul li a,
.warehouse > .navbar ul,
.warehouse > ul li,
.warehouse > .navbar .brand a,
.warehouse .navbar .btn {
  color: #000;
  text-shadow: none;
}

.warehouse .list-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content:flex-start;
    padding: 1rem 2rem;

    height:100vh;
}
  





